<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa" 
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/data/jpa 
		http://www.springframework.org/schema/data/jpa/spring-jpa.xsd ">
<!-- 配置shiro的核心filter -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
	<!-- 安全管理器 -->
	<property name="securityManager" ref="securityManager" />
	<!-- 未登录时，跳转的页面 -->
		<property name="loginUrl" value="/login.html" />
		<!-- 登录陈功时跳转的页面 -->
		<property name="successUrl" value="/index.html" />
		<!-- 权限不足 -->
		<property name="unauthorizedUrl" value="/unauthorized.html" />
		 	<!-- url过滤器的规则 -->
		<property name="filterChainDefinitions">
			<value>
				/login.html* = anon    <!-- 不登录就可以访问 -->
				/user_login.action*=anon
				/validatecode.jsp* = anon  <!-- 放行验证码页面 -->
				/css/** = anon
				 /js/**=anon              
				/images/**=anon
				/services/** = anon
				
				/pages/base/courier.html*=perms[courier:list]
				
				/pages/base/area.html*=roles[base]
				/** = authc
			</value>
		</property>
	</bean>
	
	<!-- 配置安全管理器 -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
	<property name="realm" ref="bosRealm"></property>
	<property name="cacheManager" ref="shiroCacheManager"></property>
	</bean>
	
	<!-- 手动配置realm -->
	<bean id="bosRealm" class="cn.itcast.bos.realm.BosRealm">
	<property name="authorizationCacheName" value="bos"/>
	</bean>
	
	
	<!-- 后处理器 -->
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
	
	<!-- 开启shiro注解 -->
	
	<bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
	depends-on="lifecycleBeanPostProcessor">
	<property name="proxyTargetClass" value="true"/>
	</bean>
	
	<bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
	<property name="securityManager" ref="securityManager"/>
	
	</bean>
	
	
	
	
	
	
</beans>